.login {
    text-align: center;
    justify-content: center;
    top: 25%;
    left: 25%;
    margin: 24px 0 12px 0;
    padding: 16px;
}

.login input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login_button {
    color: dimgrey;
    background: aliceblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}

.language-box {
    left: 80%;
}

.language-box input {
    width: 5%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    background-color: aliceblue;
    color: dimgrey;
}

.left-menu {
    width: 20%;
    height: 100%;
    margin: 0;
    float: left;
    padding: 0;
    vertical-align: center;
}

.left-menu li {
    display: block;
    height: 15%;
    color: dimgrey;
    background: aliceblue;
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: middle;
}

.left-menu li a {
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    text-underline: none;
    font-size: 16px;
    height: 15%;
    display: block;
}

.left-menu li a:hover {
    background: whitesmoke;
    color: dimgrey;
}

.content {
    float: right;
    width: 70%;
    height: 100%;
}

* {
    padding: 5px 5px;
}
